.pageGrid {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 4rem;
    position: relative;
}

.contentColumn {
    min-width: 0;
}

@media (max-width: 1000px) {
    .pageGrid {
        grid-template-columns: 1fr;
    }
}